
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>远方首页</title>
    <link rel="shortcut icon" href="/media/20.ico" type="image/x-icon" />
</head>
<body style=" text-align: center" bgcolor="#73105C">
<img src="/media/240.PNG" onclick="alert('后续增加链接微博账号')"/>
<h3> &nbsp  </h3>
<img src="/media/xx.JPG" />
  <form action="/west/jieguo/" method="post">
    {% csrf_token %}
  <p><input type="text" name="soso" style="height:39px;font-size:22px" size="57" ></p>
  <input type="submit" value="昵称搜索" style="width:100px;height:30px ; font-size:16px" >&nbsp  &nbsp &nbsp &nbsp
 &nbsp &nbsp <input type="button" value="内容搜索" style="width:100px;height:30px; font-size:16px">
</form> 



</body>
